{% extends "base.html" %}

{% block content %}


<form class="grouped" type="get" action="." >
   
    <input id="search_box" type="search" name="search">
    <button class="button icon-only" style="background-color:white;" id="search_submit" type="submit"><img src="https://icongr.am/feather/search.svg?size=24"></button>
    
</form>

<div style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px;">
    <a target="_blank" href="{% url 'pdfMaker' %}?search={{search_post}}">
        <button {% if not pdf_enabled %} disabled {% endif %}>
            Печать PDF
        </button>
    </a>
</div>
<table>
    <tr>
        <th>
            Наименование
        </th>
        <th>
            Номер
        </th>
        <th>
            Номер кабинета
        </th>
        <th>
            Ответственный
        </th>
        <th>
            Количество
        </th>
    </tr>

    {% for item in page_obj %}
    <tr> 
        <td>{{ item.name }}</td>
        <td>{{ item.num }}</td>
        <td>{{ item.num_kab }}</td>
        <td>{{ item.response }}</td>
        <td>{{ item.count }}</td>
    </tr>
    {% endfor %}

   
</table>


<!-- style="display: flex; justify-content: center; align-items: center;" -->
<div class="pagination" >
    <span class="step-links row">
        <div class="col-2"></div>
       
        {% if page_obj.has_previous %}
            <a class="button col" href="?page=1">&laquo; Начало</a>
            <a class="button col" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}
        
        <div class="col" style="display: flex; justify-content: center; align-items: center;">
            <span>
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </span>
        </div>

        {% if page_obj.has_next %}
            <a class="button col" href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a class="button col" href="?page={{ page_obj.paginator.num_pages }}">Конец &raquo;</a>
        {% endif %}
        <div class="col-2"></div>
       
    </span>
</div>



{% endblock content %}