{% extends "base.html" %}

{% block content %}


<form class="grouped" type="get" action="." >
   
    <input id="search_box" type="search" name="search">
    <button class="button icon-only" style="background-color:white;" id="search_submit" type="submit"><img src="https://icongr.am/feather/search.svg?size=24"></button>
    
</form>

<table>
    <tr>
        <th>
            Наименование
        </th>
        <th>
            Номер
        </th>
        <th>
            Номер кабинета
        </th>
        <th>
            Ответственный
        </th>
        <th>
            Количество
        </th>
    </tr>
    {% for item in query_results %}
    <tr> 
        <td>{{ item.name }}</td>
        <td>{{ item.num }}</td>
        <td>{{ item.num_kab }}</td>
        <td>{{ item.response }}</td>
        <td>{{ item.count }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}